<h3>Recuperar Contraseña</h3>

<form method="POST" action="/forgot-password">
  <label>
      Email:
      <input type="email" name="email" placeholder="example@mail.com" required />
  </label>
  <br />
  <input type="submit" value="Enviar enlace de recuperación" />
</form>

<p><a href="/login">Volver al Login</a></p>
