<main>

    <h1 class="text-center my-5">La Dinastia</h1>
    {{#if details}}
    <p>{{details}}</p>
    {{else}}
    <div class="d-flex align-items-center justify-content-center  ">
        <p class="text-center font-weight-bold  transition text-zoom-on-hover"><strong>¡Bienvenidos a la tienda oficial
                de la Dinastía de Venta de Ropa! Estamos emocionados de darles la bienvenida a nuestro exclusivo mundo
                de moda. Aquí, encontrarán una amplia gama de prendas de vestir de alta calidad, diseñadas para realzar
                su estilo y personalidad, como LucdruCollections!</strong></p>
    </div>

    {{/if}}


</main>