<form method="POST" action="/api/sessions/login">
    <label>
        Email:
        <input type="email" name="email" placeholder="example@mail.com" value="" required />
    </label>
    <br />
    <label>
        Password:
        <input type="password" name="password" placeholder="**********" value="" required />
    </label>
    <br />
    <input type="submit" value="Login" />
</form>

<p>Not account? <a href="/register">Register!</a></p>
