<h3>Cambiar Contrase単a</h3>

<form method="POST" action="/reset-password/{{token}}">
  <label>
      Nueva Contrase単a:
      <input type="password" name="password" placeholder="**********" required />
  </label>
  <br />
  <label>
      Confirmar Nueva Contrase単a:
      <input type="password" name="confirmPassword" placeholder="**********" required />
  </label>
  <br />
  <input type="submit" value="Cambiar Contrase単a" />
</form>

<p><a href="/login">Volver al Login</a></p>
