* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

.text-zoom-on-hover {
    transition: transform 0.3s ease;
}

.text-zoom-on-hover:hover {
    transform: scale(1.08);
    font-size: 20px;
}