<div class="d-flex flex-wrap justify-content-evenly">
    {{#each products}}
<div class="card" style="width: 10rem;">
  <img src="{{this.photo}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{this.title}}</h5>
    <p class="card-text">Descripcion del producto</p>
    <a href="#" class="btn btn-primary">Añadir al carrito</a>
  </div>
</div>
{{/each}}


</div>